# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if you use vendoring)
# vendor/

# Go modules
go.sum
